body{
    background-image: url('IMG_1727.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;
}
.y1{
    background: size 100%;font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(15, 163, 231);
    font-size: 1cm;

}
.y2{
    color: rgba(109, 4, 4, 0.952);
}

#x2{text-align: center;
    font-size: 1cm;
    color: rgb(211, 54, 14);
    background-color: cadetblue;
    border: cadetblue;border-radius: 20px;
    }

