body{
    background-image: url('Vector_2648.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;
}
.y1{
    background: size 100%;font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(15, 163, 231);
    font-size: 1cm;

}
.y2{
    color: rgba(109, 4, 4, 0.952);
}

#x2{text-align: center;
    font-size: 1cm;
    color: rgb(211, 54, 14);
    background-color: cadetblue;
    border: 20px cadetblue;border-radius: 20px;
    }

.y3{
font-family:  Verdana, Geneva, Tahoma, sans-serif;
font-size: .5cm;
color: rgb(11, 149, 184);
background-color: rgba(176, 204, 198, 0.822);
text-align: left;
box-shadow: 10px 10px 30px rgb(238, 6, 226);
width: max-content;
margin-left: 5%;
margin-right: 5%;
border-left: 5px solid crimson;
padding: 5px;
border-radius: 5px;
}
.y4 h1{font-family: 'Roboto', sans-serif;
    
}
.y5{ display: flex;
    width: 50%;
    border: red;width: 50%;
    font-size: x-large;
    text-align: left;
   border-left: 10px solid;
   border-color: rgba(255, 7, 7, 0.952);
   color: seashell; display: flex;
   width: 50%;
   border: red;width: 50%;
   font-size: x-large;
   text-align: left;
  border-left: 10px solid;
  border-color: rgba(255, 7, 7, 0.952);
  color: seashell;
  border-radius: 5px;
    
   
    

}
.y6{ display: flex;
    width: 50%;
    border: red;width: 50%;
    font-size: x-large;
    text-align: left;
   border-left: 10px solid;
   border-color: rgba(255, 7, 7, 0.952);
   color: seashell;
   border-radius: 5px;
    
}
#x3{
    color: rgba(255, 7, 7, 0.952);
}
.y7{
    display: flex;
    width: 50%;
    border: red;width: 50%;
    font-size: x-large;
    text-align: left;
   border-left: 10px solid;
   border-color: rgba(255, 7, 7, 0.952);
   color: seashell;
   border-radius: 5px;
}
#google{
  color: aqua;
}
#amazon{
    color: blueviolet;
}
